
#main {
  background-color: #040404;
  filter: blur(0);
  border-radius: 40px;
  width: auto;
  height: 36rem;
  margin: 10px;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(125, 157, 223, 0.2);
  /* color: #DDD; */
  font-size: 20pt;
  line-height: 1.6rem;
  text-align: center;
  /* border: solid 1px #CCC; */
  box-shadow: 0px 3px 20px rgba(0,0,0,0.2);
  user-select: none;
}

.blur {
  filter: blur(0.5px)!important;
}

#landingText {
  font-size: 56pt;
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 20%;
  text-align: center;
  color: #FFF;
}

.landingText {
  color: #FFF!important;
  font-weight: bold;
  text-decoration: none;
  border: solid 1px transparent;
  transition: all 0.1s;
}

#pageTitle {
  color: #FFF!important;
  text-align: left!important;
  position: absolute;
  bottom: 40px;
  font-weight: bold;
}

.bodyText {
  font-size: large;
  line-height: 2;
}

.quote {
  border-left: solid 2px #CCC;
  padding-left: 20px;
}

.viewProjectButton {
  border-radius: 100px;
  padding: 14px;
  height: 30px;
  font-size: 14pt;
  text-align: center;
  font-weight: bold;
  display: block;
  margin-bottom: 12px;
  text-decoration: none;
  background-color: rgba(125, 157, 223, 0.2);
}

.project {
  background-color: #EEE;
  border-radius: 20px;
  width: 200px!important;
  height: 100px;
  margin: 0 20px 40px 20px;
  padding: 40px;
}

.projectTitleText {
  display: inline-block;
  align-self: flex-end;
  color: #FFF;
  margin-top: 100px;
  width: 200px!important;
}

.background-innersteps {
  background-image: linear-gradient(
      to bottom, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.9)
  ), url('./images/Innersteps.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.background-pingpong {
  background-image: linear-gradient(
      to bottom, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.9)
  ), url('./images/pingpong.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.background-valet {
  background-image: linear-gradient(
      to bottom, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.9)
  ), url('./images/clicks.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.background-paddles {
  background-image: linear-gradient(
      to bottom, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.9)
  ), url('./images/paddles.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.background-inxby {
  background-image: linear-gradient(
      to bottom, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.9)
  ), url('./images/inxby.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.background-sdd {
  background-image: linear-gradient(
      to bottom, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.9)
  ), url('./images/sdd.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.background-asteroids {
  background-image: linear-gradient(
      to bottom, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.9)
  ), url('./images/asteroids.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.background-stockman {
  background-image: linear-gradient(
      to bottom, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.9)
  ), url('./images/stockman.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.linksContainer {
  width: 100%;
  margin: 0 20px 0 0;
}

.link {
  border-radius: 100px;
  padding: 14px;
  height: 30px;
  display: block;
  margin-bottom: 12px;
  text-decoration: none;
  background-color: rgba(125, 157, 223, 0.2);
}
.link p {
  margin-top: -26px;
  margin-left: 60px;
}
.link img {
  height: 30px;
}