
#ocean {
  background-color: #040404;
  filter: blur(0);
  /* width: auto;  */
  width: 100vw; 
  /* height: 36rem; */
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(125, 157, 223, 0.2);
  /* color: #DDD; */
  font-size: 20pt;
  line-height: 1.6rem;
  text-align: center;
  /* border: solid 1px #CCC; */
  box-shadow: 0px 3px 20px rgba(0,0,0,0.2);
  user-select: none;
}

#landingImage {
  width: 100vw; 
  height: 36rem;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(125, 157, 223, 0.2);
  /* color: #DDD; */
  font-size: 20pt;
  line-height: 1.6rem;
  text-align: center;
  /* border: solid 1px #CCC; */
  box-shadow: 0px 3px 20px rgba(0,0,0,0.2);
  user-select: none;
}

.blur {
  filter: blur(0.5px)!important;
}

#landingText {
  font-size: 56pt;
  position: absolute;
  z-index: 4;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 20%;
  text-align: center;
  color: #FFF;
}

.landingText {
  color: #FFF!important;
  font-weight: bold;
  text-decoration: none;
  border: solid 1px transparent;
  transition: all 0.1s;
}

#pageTitle {
  color: #FFF!important;
  text-align: left!important;
  position: absolute;
  bottom: 40px;
  font-weight: bold;
}

.bodyText {
  font-size: large;
  line-height: 2;
}

.quote {
  border-left: solid 2px #CCC;
  padding-left: 20px;
}

.viewProjectButton {
  border-radius: 100px;
  padding: 14px;
  height: 30px;
  font-size: 14pt;
  text-align: center;
  font-weight: bold;
  display: block;
  margin-bottom: 12px;
  text-decoration: none;
  background-color: rgba(125, 157, 223, 0.2);
}

.project {
  background-color: #EEE;
  border-radius: 20px;
  border: solid 1px rgba(125, 157, 223, 1);
  overflow: hidden;
  width: auto;
  min-width: 200px;
  height: 100px;
  margin: 0 20px 40px 20px;
  padding: 40px;
}

.projectTitleText {
  display: inline-block;
  align-self: flex-end;
  color: #FFF;
  margin-top: 100px;
  width: auto;
}

.background-innersteps {
  background-image: linear-gradient(
      to bottom, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.9)
  ), url('./images/Innersteps.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.background-pingpong {
  background-image: linear-gradient(
      to bottom, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.9)
  ), url('./images/pingpong.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.background-valet {
  background-image: linear-gradient(
      to bottom, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.9)
  ), url('./images/clicks.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.background-paddles {
  background-image: linear-gradient(
      to bottom, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.9)
  ), url('./images/paddles.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.background-inxby {
  background-image: linear-gradient(
      to bottom, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.9)
  ), url('./images/inxby.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.background-sdd {
  background-image: linear-gradient(
      to bottom, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.9)
  ), url('./images/sdd.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.background-asteroids {
  background-image: linear-gradient(
      to bottom, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.9)
  ), url('./images/asteroids.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.background-stockman {
  background-image: linear-gradient(
      to bottom, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.9)
  ), url('./images/stockman.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.linksContainer {
  width: 100%;
  margin: 0 20px 0 0;
}

.link {
  border-radius: 100px;
  padding: 14px;
  height: 30px;
  display: block;
  margin-bottom: 12px;
  text-decoration: none;
  background-color: rgba(125, 157, 223, 0.8);
}
.link p {
  margin-top: -26px;
  margin-left: 60px;
}
.link img {
  height: 30px;
}

.bg-SVG {
  background-color: #EEE;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d1d1d1' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


.parallax {
  perspective: 1px;
  height: 200vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective-origin: top;
}
.parallax__layer {
  position: absolute;
  top: 0!important;
  right: 0;
  left: 0;
}
.foreground {
  transform: translateZ(0);
}
.background {
  transform: translateZ(-1px) scale(2);
  transform-origin: center top;
}

.panel {
  background-color: #F6F6F6;
  border-top: solid 1px rgba(125, 157, 223, 1);
  border-bottom: solid 1px rgba(125, 157, 223, 1);
  padding-bottom: 40px;
}

h2 {
  font-size: xx-large;
}