@media (max-width: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */

    body {
        font-family: monospace;
        margin: 0;
        background-color: #EEE;
    }

    html:not([data-scroll='0']) {    
        #header {
            box-shadow: 0px 3px 20px rgba(0,0,0,0.2);
        }
    }
    

    #pageContainer {
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-color: #040404;
    }

    .bg-row {
        line-height: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: auto;
    }

    .scanlines:before {
        background: linear-gradient(hsla(0,16%,17%,0) 50%,rgba(0,0,0,.05) 0),linear-gradient(90deg,rgba(255,0,0,.06),rgba(0,255,0,.02),rgba(0,0,255,.06));
        background-size: 100% 2px,3px 100%;
        bottom: 0;
        content: " ";
        display: block;
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;
    }

    #pageTitle {
        padding-left: 10px;
        font-size: 20pt;
        top: 25rem;
    }

    .contentContainer {
        font-family: 'Poppins', sans-serif;
        margin-top: 500px;
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 200px;
    }
    .contentContainer > div {
        padding-top: 20px;
    }
    .contentMargin {
        padding-top: 40px;
        padding-left: 30px;
        padding-right: 30px;
        width: auto;
    }

    .section {
        margin-left: 30px;
        margin-right: 30px;
    }

    #header {
        position: fixed;
        background-color: #F6F6F6;
        width: 100%!important;
        height: auto;
        top: 0;
        z-index: 10;
    }

    .projectsScrollMenu {
        overflow: auto;
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        margin: 0 -20px 0 -20px;
      }

      #footer {
        padding: 20px 20% 20px 20%;
        background-color: rgba(125, 157, 223, 1);
    }
    #footer > p {
        margin: 20px;
    }
}