@font-face {
    font-family: 'Glitchy';
    src:  url('RandyGGRegular.ttf');
}

@font-face {
    font-family: 'Glitchy2';
    src:  url('Consolas.ttf');
}

.navigationContainer {
    position: fixed;
    display: inline-block;
    z-index: 7;
    top: 0!important;
}

.dropdown-content {
    opacity: 0;
    visibility: hidden;
    height: 0;
    top: 0;
    transition: all 0.1s;
    position: relative;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
}


.pageTitle {
    color: #ebf5fc;
    transition: 0.3s;
    padding: 0.8rem;
    width: 8rem;
    margin: 0.8rem 1.2rem 0 1.2rem;
    top: auto;
    border-radius: 4px;
    font-size: 18pt;
    font-weight: bold;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
}
  
.hanger-button {
    transition: all 0.3s;
    background-color: #e0e0e0;
    color: #333;
    padding: 0.8rem;
    width: 8rem;
    margin: 0.8rem 1.2rem 0 1.2rem;
    top: auto;
    border-radius: 4px;
    font-size: 14pt;
    font-weight: bold;
}

.hanger-button:hover {
    background-color: #fff!important;
    cursor: pointer;
    box-shadow: rgba(189, 197, 209, 0.2) 0px 8px 19.2px 2px;
}
  
.navigationContainer:hover .dropdown-content {
    opacity: 1!important;
    transition: all 0.3s;
    visibility: visible!important;
}

.navigationContainer:hover .pageTitle {
    text-decoration: overline;
    transition: all 0.3s;
}





body {
    margin: 0;
    padding: 0;
    /*background-color: #212121;*/
    background-color: #3e3c41;/*#F5F5F5*/;
    font-family: 'Glitchy';
    overflow-x: hidden;
    margin: 0;
    /*font-family: Helvetica,Arial,sans-serif;*/
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
}


.button {
    background-color: #BDBDFD;
    cursor: pointer;
    width: 12em;
    box-shadow: 0 0 20px #BDBDFD;
    padding: 0.8rem;
    width: 8rem;
    margin-left: 1.2rem;
    margin-top: 0.8rem;
    top: auto;
    outline: none!important;
    border: none!important;
}

form {
    font-size: 18pt;
}


.header {
    width: 100%;
    position: fixed!important;
    top: 0;
    height: auto;
    color: #EEE;
    z-index: 5;
    padding: 14px;
    color: #6c757e;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5), rgba(0,0,0,0));
    float: right;
}

.header>a {
    float: right;
    font-size: 18pt;
    margin: 12px 30px 12px 12px;
    color: #eee!important;
    text-decoration: none;
}

.header>a:visited {
    color: #EEE!important;
}



.main {
    background-color: transparent/*#212126*/;
    position: absolute;
    left: 15%;
    top: 10%;
    width: 70%;
    min-width: 20rem!important;
    height: auto;
    min-height: 240px;
    /*box-shadow: 0 0 40px #090609;*/
    color: #fff;
    padding: 80px;
    font-weight: bolder;
    font-size: 58pt;
    z-index: 4;
}

#title {
    color: #1e2022;
    font-size: 26pt;
    font-weight: 600;
    z-index: 3;
    line-height: 2;
    font-family: Helvetica,Arial,sans-serif;
}

highlight {
    color: #aabbff;
    font-family: "Glitchy";
    text-shadow: 0 0 4px #aabbff;
}

highlight:hover {
    font-family: "Glitchy2";
    font-size: 58pt;
}


.subtitle {
    margin-top: -40px;
    margin-bottom: -40px;
    font-size: 28pt;
}

main {
    top: 0;
    position: fixed;
    box-shadow: inset 0 0 20px #DDD;
    min-height: 300px!important;
}

.projectsBody {
    width: auto;
    align-items: center;
    margin-left: 14rem;
    margin-right: 12rem;
    height: auto;
    margin-bottom: 20rem;
    padding-top: 0;
    height: 0;
}

.segment {
    top: 8rem!important;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 0 12rem 0;
    position: relative;
    font-weight: bolder;
    font-size: 58pt;
    z-index: 4;
    transition: all 0.2s;
    box-shadow: rgba(189, 197, 209, 0.2) 0px 8px 19.2px 0px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    color: #1e2022;
    z-index: 3;
    line-height: 1.8;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 100;
    padding: auto!important;
}

.segmentLeft {
    width: 50%;
    min-width: 40rem;
    height: 40rem;
    color: #000;
    font-weight: bolder;
    z-index: 5;
    transition: all 0.2s;
    position: relative;
}

.segmentRight {
    width: 50%;
    min-width: 40rem;
    height: 40rem;
    color: #000;
    font-weight: bolder;
    z-index: 5;
    transition: all 0.2s;
    position: relative;
    font-size: 14pt;
}

.segmentContainer {
    margin: 3rem 5rem 3rem 5rem;
}


.segment:hover .projectImg {
    transition: all 0.2s;
    box-shadow: 0 0 20px #666;
}

.projectImg {
    transition: all 0.4s;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 100%!important;
    width: 100%;;
    overflow: hidden;
    z-index: 5;
}




/*.segmentRight {
    background-color: #fff;
    color: #1e2022;
    height: auto!important;
    right: 0;
    font-size: 14pt;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;    
    box-sizing: border-box;         
    padding: 5rem 5rem 5rem 10rem;
    z-index: 3;
    line-height: 1.8;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 100;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}*/