
body {
    font-family: monospace;
    margin: 0;
    background-color: #EEE;
}

html:not([data-scroll='0']) {    
    #header {
        box-shadow: 0px 3px 20px rgba(0,0,0,0.2);
    }
}
  

#pageContainer {
    width: 100%;
    height: 80%;
    position: absolute;
    background: linear-gradient(#F6F6F6, #EEE)
}

#main {
    background-color: #040404;
    filter: blur(0.5px);
    border-radius: 40px;
    width: auto;
    height: 100%;
    margin: 10px;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(125, 157, 223, 0.2);
    /* color: #DDD; */
    font-size: 20pt;
    line-height: 1;
    text-align: center;
    /* border: solid 1px #CCC; */
    box-shadow: 0px 3px 20px rgba(0,0,0,0.2);
}

#landingText {
    font-size: 56pt;
    position: absolute;
    z-index: 4;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 20%;
    text-align: center;
    color: #FFF;
}

.landingText {
    color: #FFF!important;
    font-weight: bold;
    text-decoration: none;
    border: solid 1px transparent;
    transition: all 0.1s;
}

.landingText:hover {
    /* color: #226ed1!important; */
    cursor: pointer;
    border: solid 1px #023c88;
}



.bg-row {
    line-height: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.scanlines:before {
    background: linear-gradient(hsla(0,16%,17%,0) 50%,rgba(0,0,0,.05) 0),linear-gradient(90deg,rgba(255,0,0,.06),rgba(0,255,0,.02),rgba(0,0,255,.06));
    background-size: 100% 2px,3px 100%;
    bottom: 0;
    content: " ";
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.contentContainer {
    margin: 20px;
}
.contentContainer > div {
    padding-top: 20px;
}

.bodyText {
    font-size: large;
}

#header {
    position: fixed;
    background-color: #F6F6F6;
    width: 100%!important;
    height: auto;
    top: 0;
    z-index: 10;
}

#footer {
    width: 100%!important;
    padding: 20px 0 20px 0;
    margin-top: 60px;
    background-color: rgba(125, 157, 223, 0.2);
}
#footer > p {
    margin: 20px;
}


.projectsScrollMenu {
    overflow: auto;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    margin: 0 -20px 0 -20px;
}
  
.project {
    background-color: #EEE;
    border-radius: 20px;
    width: 200px!important;
    height: 100px;
    margin: 0 20px 40px 20px;
    padding: 40px;
}

.projectTitleText {
    display: inline-block;
    align-self: flex-end;
    color: #FFF;
    margin-top: 100px;
    width: 200px!important;
}

.background-innersteps {
    background-image: linear-gradient(
        to bottom, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.8)
    ), url('../images/Innersteps.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.background-pingpong {
    background-image: linear-gradient(
        to bottom, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.8)
    ), url('../images/pingpong.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.background-valet {
    background-image: linear-gradient(
        to bottom, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.8)
    ), url('../images/clicks.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.background-paddles {
    background-image: linear-gradient(
        to bottom, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.8)
    ), url('../images/paddles.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.background-sdd {
    background-image: linear-gradient(
        to bottom, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.8)
    ), url('../images/sdd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.background-asteroids {
    background-image: linear-gradient(
        to bottom, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.8)
    ), url('../images/asteroids.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.background-stockman {
    background-image: linear-gradient(
        to bottom, transparent, rgba(0,0,0,0.5), rgba(0,0,0,0.8)
    ), url('../images/stockman.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.linksContainer {
    width: 100%;
    margin: 0 20px 0 0;
}

.link {
    border-radius: 100px;
    padding: 14px;
    height: 30px;
    display: block;
    margin-bottom: 12px;
    text-decoration: none;
    background-color: rgba(125, 157, 223, 0.2);
}
.link p {
    margin-top: -26px;
    margin-left: 60px;
}
.link img {
    height: 30px;
}